@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
.logo-txt {
    transform: scale(1);
    transition: transform 1s ease;
  }
  
  [data-aos="zoom-out"] {
    transform: scale(3) !important;
  }
  
  [data-aos="zoom-out"].aos-animate {
    transform: scale(1) !important;
  }
  